@tailwind components;

.Navbar {
  @apply mb-4;
  @apply py-2;
  @apply bg-blue-700 text-white;
}

.inner {
  @extend .container;
  @apply mx-auto;
  @apply flex;
  @apply justify-between;
  @apply items-center;
}

.inner {
  @apply px-4;
}
@screen sm {
  .inner {
    @apply px-0;
  }
}

.left {
  @apply text-blue-300;
}

.right {
  @apply flex;
  > * {
    @apply ml-4;
  }
}

.Avatar {
  img {
    @apply rounded-full;
    @apply border-4;
    @apply border-blue-600;
  }
}
